<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/js/ui.js}"></script>
    <title>경량환경 템플릿 포털사이트</title>
</head>
<body>
    <noscript><p>자바스크립트를 지원하지 않는 브라우저에서는 일부 기능을 사용하실 수 없습니다.</p></noscript>
    
    <a href="#contents" class="skip_navi">본문 바로가기</a>
    
    <div class="wrap">
        <!-- header start -->
        <div th:replace="~{sym/mms/EgovHeader :: header}"></div>
        <!-- //header end -->
        
        <div class="container">
            <div class="p_main">
                <div class="visual">
                    <p>
                        <span class="t1">표준프레임워크</span>
                        <span class="t2">경량환경 포털</span>
                        <span class="t3">표준프레임워크 경량화 포탈에 대한 전반적인 지원을 약속합니다.</span>
                    </p>
                </div>
                
                <!-- 게시물 -->
                <div class="dash_board">
                    <div class="inner">
                        <ul class="tab">
                            <li><a href="" class="cur">공지사항</a></li>
                            <li><a href="">자유게시판</a></li>
                        </ul>
                        <div class="tab_contents">
                            <!-- 공지사항 -->
                            <div class="tab_item">
                                <h2 class="blind">공지사항</h2>
                                <ul>
                                    <li th:if="${#lists.isEmpty(notiList)}">최신 게시물이 없습니다.</li>
                                    <li th:each="result, status : ${notiList}" th:if="${status.index < 3 and !(result.isExpired=='Y' || result.useAt == 'N')}">
                                        <a th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_AAAAAAAAAAAA')}">
                                            <span class="tit" th:text="${#strings.length(result.nttSj) > 51 ? #strings.substring(result.nttSj, 0, 50) + '...' : result.nttSj}"></span>
                                            <span class="desc" th:text="${#strings.length(result.nttCn) > 151 ? #strings.substring(result.nttCn, 0, 150) + '...' : result.nttCn}"></span>
                                            <span class="dates" th:text="${result.frstRegisterPnttm}"></span>
                                        </a>
                                    </li>
                                </ul>
                                <a th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_AAAAAAAAAAAA')}" class="more">더보기</a>
                            </div>
                            
                            <!-- 자유게시판 -->
                            <div class="tab_item">
                                <h2 class="blind">자유게시판</h2>
                                <ul>
                                    <li th:if="${#lists.isEmpty(bbsList)}">최신 게시물이 없습니다.</li>
                                    <li th:each="result, status : ${bbsList}" th:if="${status.index < 3 and !(result.isExpired=='Y' || result.useAt == 'N')}">
                                        <a th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_BBBBBBBBBBBB')}">
                                            <span class="tit" th:text="${#strings.length(result.nttSj) > 51 ? #strings.substring(result.nttSj, 0, 50) + '...' : result.nttSj}"></span>
                                            <span class="desc" th:text="${#strings.length(result.nttCn) > 151 ? #strings.substring(result.nttCn, 0, 150) + '...' : result.nttCn}"></span>
                                            <span class="dates" th:text="${result.frstRegisterPnttm}"></span>
                                        </a>
                                    </li>
                                </ul>
                                <a th:href="@{/cop/bbs/selectBoardList.do(bbsId='BBSMSTR_BBBBBBBBBBBB')}" class="more">더보기</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="g_area">
                    <div class="inner">
                        <div class="left_col">
                            <!-- FAQ -->
                            <div class="faq">
                                <div class="head">
                                    <h2>자주하는 질문<span>FAQ</span></h2>
                                    <p>표준프레임워크 경량화 서비스에 대한 자주하는 질문의 답변들을 볼 수 있습니다.</p>
                                </div>
                                <dl th:each="result : ${faqList}">
                                    <dt><span class="q">Q</span><a th:href="@{/uss/olh/faq/FaqListInqire.do}" th:text="${result.qestnSj}"></a></dt>
                                    <dd><span class="a">A</span><span th:text="${#strings.substring(#strings.escapeXml(result.answerCn), 0, 70)}"></span></dd>
                                </dl>
                                <a th:href="@{/uss/olh/faq/FaqListInqire.do}" class="more">더보기</a>
                            </div>
                            
                            <!-- 홍보물 -->
                            <div class="promotion">
                                <h2>홍보물</h2>
                                <p><strong>발간자료 / 뉴스기사</strong> 등의 홍보자료를 제공하고 있습니다.</p>
                                <a href="#" class="more">더보기</a>
                            </div>
                        </div>
                        
                        <div class="right_col">
                            <!-- 한방에 신청하는 민원 -->
                            <div class="complaint">
                                <h2>한방에 신청하는 <span>민원</span></h2>
                                <ul>
                                    <li><a href="#" class="tech" onclick="javascript:goMenuPage('2000000'); return false;">기술지원 필요시<br>유지보수 민원</a></li>
                                    <li><a href="#" class="buy" onclick="javascript:goMenuPage('2000000'); return false;">구매 제품<br>A/S 민원</a></li>
                                </ul>
                                <a href="#" class="more" onclick="javascript:goMenuPage('2000000'); return false;">더보기</a>
                            </div>
                            
                            <!-- 포털 설문 참여 -->
                            <div class="survey">
                                <h2>포털 설문 <span>참여</span></h2>
                                <p>표준프레임워크 경량환경 포털 홈페이지<br> 이용에 대해서 사용자 여러분들께<br> 설문조사를 진행합니다.</p>
                                <a th:href="@{/uss/olp/qnn/EgovQustnrRespondInfoManageList.do}">참여하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- footer 시작 -->
        <div th:replace="~{sym/mms/EgovFooter :: footer}"></div>
        <!-- //footer 끝 -->
    </div>
</body>
</html>